.nav__itemLineOne {
  font-size: 10px;
}

.nav__itemLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.nav__item {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
